body, html {
    background-color: #E4E9EF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
  

h1 {
    font-family: 'League Spartan', sans-serif;
    color: #171725;
    text-shadow: 0px 3px 4px rgba(34, 48, 63, 0.25);
    font-weight: 400;
    font-size: 10vh;
    text-align: center;
}

.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: #b795d7;
    color: #E7E8E7;
    opacity: 0;
}
  
.skip-link:focus {
    left: 50%; 
    transform: translateX(-50%);
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 6vh;
    background-color: #22303F;
    color: #ffffff;
    font-size: 2.5vh;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.navbar.hide {
    opacity: 1;
    transform: translateY(0);
}

.navbarToggle {
    display: none; 
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
  
.navbarName {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.navbarName img {
    height: 5vh;
    width: auto;
}
  
.navbarMenu {
    display: flex;
    gap: 7vh;
    list-style: none;
    top: 99%;
    left: 0;
    right: 0;
}
  
.navbarMenu a {
    color: #E7E8E7;
    text-decoration: none;
    transition: color 0.3s;
}
  
.navbarMenu a:hover {
    color: #b795d7;
}

#home {
    background-image: url('public/brand/homeBg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


.heroContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
  
.heroTitle {
    display: flex;
    flex-direction: column;
    transform: translateX(45%);
}
  
.heroHead {
    text-align: center;
}

.heroHead h1 {
    font-size: 64px;
}

.heroHead p {
    font-size: 20px;
}

.heroContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

#blu {
    background-color: #22303F;
    position: relative;
    display: inline-flex;
    border-radius: 20px;
    padding: 3vh;
    color: #FFFFFF;
}

#ora {
    background-color: #592f83;
    display: inline-flex;
    padding: 4vh;
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: -35px;
    box-shadow: 0px 2px 4px rgba(34, 48, 63, 0.50);
}

hr {
    border: none;
    height: 3.5px; 
    background-color: #22303F;
    padding: 0; 
    margin: 0;
}

.va1 {
    padding-top: 30vh;
}

.va1, .va2 {
    text-align: center;
    font-size: 3vh;
    color: #22303F;
}

.va2 img {
    max-height: 15vh;
    padding-bottom: 50vh;
}

.vaDes img {
    height: 25vh;
}

.vaDes {
    display: flex;
    gap: 10vh;
    background-color: #FFFFFF;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #22303F;
    padding: 10px;
}


.profileCont {
    padding: 7vh;
    background-color: #FFFFFF;
}

.profileCont p {
    max-width: 50vw;
    font-size: 2vh;
    color: #22303F;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.profileImage {
    position: absolute;
    right: 5vw;
    transform: translateY(-25%);
    height: 80vh;
    z-index: 10;
}


#contact {
    padding-top: 20vh;
    text-align: center;
}

.priceContact {
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footLogo {
    text-align: center;
    background-color: #FFFFFF;
    padding: 3vh;
    gap: 0;
}

.footLogo img {
    height: 7vh;
    width: auto;
}

.footLogo p {
    margin: 0;
}

#service {
    padding-right: 3.5vh;
    padding-left: 3.5vh;
    
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding-bottom: 5vh;
}

.flaps {
    text-align: center;
    background-color: #22303F;
    color: #FFFFFF;
    padding: 0.5vh 15vh;
    border-radius: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: 6vh;
    cursor: pointer;
}

.paperPrice {
    display: grid;
    padding: 5vh;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.price {
    background-color: #ffffff;
    outline: 2px solid #171725;
    outline-width: 0.5vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out;
    border-radius: 0 0 8px 8px; 
    box-shadow: 0px 4px 10px #171725;
}

.price h5 {
    font-size: 2vh;
    margin-bottom: 2vh;
    color: #171725;
    font-weight: 400;
    text-align: center;
}

.price h4 {
    font-size: 2vh; 
    color: #171725;
    text-align: right;
    margin-top: auto;
    padding-top: 3vh;
}

.price h3 {
    font-size: 2vh;
    margin-bottom: 0;
    color: #171725;
    text-align: center;
}

.list {
    background-color: #E7E8E7;
    border-radius: 8px;
    padding: 3vh;
    text-align: left;
    font-size: 18px;
    color: #171725;
}

#priceDesc {
    text-align: center;
    font-size: 3vh;
}

#priceLink {
    padding-top: 5vh;
    text-align: center;
}

#priceLink a {
    text-align: center;
    font-size: 2.5vh;
    color: #592f83;
    text-decoration: none;
    font-weight: 600;
    background-color: #22303F;
    color: #FFFFFF;
    padding: 1.5vh;
    border-radius: 1vh;
}

#profile {
    padding-bottom: 50vh;
}


@media screen and (max-width: 1024px) {
    #ora {
        background-color: #592f83;
        display: inline-flex;
        padding: 3vh;
        border-radius: 20px;
        color: #FFFFFF;
        margin-top: -3vh;
    }

    .navbarToggle {
        display: block;
        font-size: 3vh;
        outline: none;
        transform: translateX(-60%);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 2vh 3vh;
    }
    
    .navbarMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0;
        margin: 0;
        background-color: #263037;
        text-align: center;
        padding: 3vh;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    
    .navbarMenu.show {
        opacity: 1;
        visibility: visible;
    }

    .heroContainer {
        display: flex;
        font-size: 1vh;
        padding: 3vh;
        padding-bottom: 10vh;
        padding-top: 10vh;
    }

    .heroTitle {
        max-width: 90%;
        transform: translateX(0%);
    }

    #home {
        background-image: none;
    }

    .heroImg img {
        max-width: 80%;
    }

    .va1 {
        text-align: center;
        font-size: 2vh;
        padding: 1vh;
        padding-top: 25vh;
    }
    
    .va1, .va2 {
        padding-left: 4vh;
        padding-right: 4vh;
    }
    
    .vaDes img {
        height: auto;
        max-height: 15vh;
    }
    
    .vaDes {
        gap: 1vh;
    }

    .vaDes h1 {
        font-size: 5vh;
    }
    
    .va2 img {
        max-height: 10vh;
    }
    
    .flaps {
        padding: 0.5vh 5vh;
        font-size: 2vh;
    }
    

    #contact {
        padding: 3vh;
        text-align: center;
        padding-top: 20vh;
        padding-bottom: 15vh;
    }
    
    .priceHead {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 1vh 4vh;
    }
    
    .priceHead p {
        margin-right: 0;
    }

    #contact > h2 {
        font-size: 2vh;
    }
    
    .priceHead span {
        font-size: 2vh;
    }
    
    .priceContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5vh;
    }

    .paperPrice {
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .list {
        font-size: 2vh;
    }

    #profile {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .profileCont p {
        max-width: none;
        font-size: 2vh;
        color: #22303F;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }
    
    .profileImage {
        margin-bottom: -8vh;
        height: 30vh;
        width: 30vh;
        border-radius: 50%;
        object-fit: cover;
        position: static;
        transform: none;
        z-index: 0;
    }
    
}

@media screen and (max-width: 768px) {

    #priceDesc {
        font-size: 2vh;
    }

    .paperPrice {
        display: grid;
        padding: 1vh;
        border-radius: 8px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .list {
        font-size: 2vh;
    }

    .heroTitle {
        display: flex;
        flex-direction: column;
        transform: translateX(0%);
    }
    
    .navbarMenu {
        font-size: 2vh;
    }

    .heroContainer {
        display: flex;
        flex-direction: column;
    }

    .heroImg img {
        display: none;
    }

    .va1, .va2 {
        font-size: 80%;
    }
    
    .vaDes img {
        height: auto;
        max-height: 10vh;
    }
    
    .va2 img {
        max-height: 10vh;
    }
    
    .priceHead {
        font-size: 1.7vh;
    }
    
    .priceHead p {
        margin-right: 0;
    }

    .flaps {
        padding: 0.5vh 5vh;
        font-size: 1.5vh;
    }
}