/*Misc*/
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}
 
.skip-link:focus {
  top: 0;
}

a {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

#email {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

/*Nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 40px;
    background-color: #263037;
    width: 100%;
    top: 0;
    left: 0;
}

.navbarToggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
}
  
.navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
}
  
.navbarMenu li {
    margin: 0;
}
  
.navbarMenu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
  
.navbar-dropdown a:hover {
    background-color: black;
}

.navbarName {
    margin-left: 50px;
    color: white;
}
@media screen and (max-width: 768px) {
    .navbarToggle {
        display: block;
        background-color: antiquewhite;
      }
    
      .navbarMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: wheat;
        width: 100%;
      }
      .navbarName {
        margin-left: 0px;
      }
    
      .navbarMenu.active {
        display: flex;
      }
}